.editor-controls {
    display: flex;
    gap: 8px;
}

.editor-wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0;
    background: #fff;
}

.editor-wrapper .editor-main > div:last-child {
    padding: 8px;
}

.editor-wrapper > div:last-child p {
    margin: 0;
}

.toolbar {
    position: sticky;
    z-index: 5;
    top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    border-radius: 8px 8px 0 0;
}

.editor-select {
    border: 1px solid #bbb;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.editor-color {
    border: 1px solid #bbb;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.float-buttons button,
.toolbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    width: 28px;
    height: 28px;
    border: 1px solid #bbb;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.float-buttons button:hover,
.toolbar button:hover {
    background: #ccc;
}

.float-buttons button.active,
.toolbar button.active {
    background: #007bff;
    color: white;
    border-color: #007bff;
}

.editor-content {
    padding: 15px;
    min-height: 250px;
}

.editor-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.image-sidebar {
    padding: 10px;
    border-top: 1px solid #ddd;
    background: #f7f7f7;
    border-radius: 0 0 8px 8px;
    position: sticky;
    bottom: 46px;
    z-index: 5;
}

.image-sidebar-row {
    display: flex;
    gap: 16px;
    align-items: center;
}

.image-sidebar-row + .image-sidebar-row {
    margin-top: 8px;
}

.image-sidebar-row label {
    font-size: 13px;
}

.image-sidebar input {
    width: 100%;
}

.editor-image-resizer {
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -6px;
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 100%;
    cursor: ew-resize;
}

.image-sidebar-cell {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

.float-buttons {
    display: flex;
    gap: 8px;
}

.slash-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: red;
    padding: 20px;
}

.slash-menu:empty {
    display: none;
}

.monaco-editor .find-widget {
    top: 0 !important;
    left: 80px !important;
    right: auto !important;
}
