.header {
    width: 100%;
    border-bottom: 1px solid #ddd;
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-inner {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 8px;
}

.nav-link {
    position: relative;
}

.nav-link.dropdown {
    padding-right: 20px;
}

.nav-link a {
    display: block;
    padding: 4px 8px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: -8px;
    background: white;
    padding: 4px 8px;
    display: none;
    flex-flow: column;
    align-items: flex-start;
}

.nav-link:hover .submenu {
    display: flex;
}

.submenu-icon {
    position: absolute;
    top: 2px;
    right: 4px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease;
}

.nav-link:hover .submenu-icon {
    transform: rotate(180deg);
}

.logo {
    margin-right: auto;
    min-width: 180px;
    height: 34px;
}

.logo-img {
    display: block;
    height: 34px;
    width: auto;
}

.phone {
    margin-left: auto;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger {
    display: none;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

/* АДАПТИВ */
@media (max-width: 1280px) {
    .nav {
        display: none;
        position: absolute;
        top: 100%;
        margin-top: 1px;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .nav.open {
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
        background: white;
        border-bottom: 1px solid #ddd;
    }

    .phone {
        margin-left: 8px;
    }

    .burger {
        display: flex;
    }

    .submenu {
        position: relative;
        display: flex;
        left: 0;
        padding: 0 8px;
    }

    .submenu-icon {
        display: none;
    }
}
