:root {
    box-sizing: border-box;
    height: 100%;
    --fancybox-bg: rgba(0, 0, 0, 0.6);
    --app-height: 100vh;
    --app-scroll-size: 0px;
    --menu-width: 380px;
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @media (hover: none) {
        --app-scroll-size: 0px !important;
    }
}

*,
::before,
::after {
    box-sizing: inherit;
    outline: 0 !important;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100%;
    font-feature-settings: "lnum";
    font-feature-settings: "lnum" on;
    font-feature-settings: "pnum" on, "lnum" on;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px 20px;
    position: relative;
}

.container a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 15px;
}

.container a:hover {
    color: rgba(60, 35, 155, 1);
}

.container a.active {
    color: rgba(60, 35, 155, 1);
}

.main {
    flex: 1;
}

.article {
    padding: 1px 0;
    position: relative;
}

.article img {
    display: block;
    max-width: 100%;
}

.article a {
    color: rgba(60, 35, 155, 1);
}

.article a:hover {
    text-decoration: underline;
}

.page-not-found {
    text-align: center;
}

.article-save {
    margin: 16px 0;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.article-save:hover {
    background: #ccc;
}

.article-controls {
    display: flex;
    gap: 16px;
    align-items: center;
}

.article-title {
    display: block;
    width: 100%;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    background: #fff;
    margin-bottom: 16px;
}

.article-list {
    margin-bottom: 16px;
}
