:root {
    box-sizing: border-box;
    height: 100%;
    --fancybox-bg: rgba(0, 0, 0, 0.6);
    --app-height: 100vh;
    --app-scroll-size: 0px;
    --menu-width: 380px;
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @media (hover: none) {
        --app-scroll-size: 0px !important;
    }
}


body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100%;
    font-feature-settings: "lnum";
    font-feature-settings: "lnum" on;
    font-feature-settings: "pnum" on, "lnum" on;
}


#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px 20px;
    position: relative;
}

.container a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 15px;
}

.container a:hover {
    color: #07c;
}

.container a.active {
    color: #07c;
    font-weight: 600;
}

.main {
    flex: 1;
}
