body {
    margin: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
    display: none !important;
}

.clearfix:before,
.clearfix:after,
div[data-class="clearfix"]:before,
div[data-class="clearfix"]:after {
    content: "";
    display: table;
}

.clearfix:after,
div[data-class="clearfix"]:after {
    clear: both;
}
